.contanier{
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
        content: "";
        clear: both;
        display: block;
        height: 0px;
        visibility: hidden;
    }
.clearfix{
	zoom:1;
}