/*公共样式*/
	body{
		background-color: #f4f6f8
	}
	a{
		text-decoration: none;
	}
	.content{
		width: 1360px;
		margin-left: auto;
		margin-right: auto;
	}
/*top1*/
	.top1{
		height: 56px;
		width: 100%;
		background-color: #242424;
	}
	.top1-con{
		width: 1360px;
		height: 56px;
		position: relative;
	}
	.top1-l .logo{
		float: left;
		color: #fff;
		height: 56px;
		margin-left: 45px;
	}
	.top1-l .logo img{
		width: 34px;
		height: 32px;
		position: absolute;
		left: 0px;
		bottom: 8px;
	}
	.top1-l .logo .top1-s{
		font-size: 20px;
		color: #fff;
		line-height: 56px;
	}
	.top1-l .ul1{
		margin-left: 214px;
	}
	.top1-l .ul1>li>a{
		height: 56px;
		width: 91px;
		text-align: center;
		float: left;
		font-size: 14px;
		color: #fff;
		line-height: 56px;
	}
	.top1-l .ul1>li>a:hover{
		color: #1187ff;
		background-color: #000;
	}
	.top1-l .ul1 li .top1-1{
		display: none;
		width: 91px;
		height: 168px;
		position: absolute;
		top: 56px;
		left: 214px;
		z-index: 10;
		background-color: #242424;
	}
	.top1-l .ul1 li .top1-1 ul{
		box-sizing: border-box;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 91px;
		height: 168px;
	}
	.top1-l .ul1 li .top1-1 ul li a{
		display: inline-block;
		height: 56px;
		width: 91px;
		font-size: 14px;
		color: #fff;
		margin-left: 15px;
		line-height: 56px;
	}
	.top1-l .ul1 li .top1-1 ul li a:hover{
		color: #1187ff;
		transition: all 0.5s;
	}
	.top1-l .ul1 li .top1-2{
		display: none;
		width: 300px;
		height: 224px;
		position: absolute;
		top: 56px;
		left: 305px;
		z-index: 10;
		box-sizing: border-box;
	}
	.top1-l .ul1 li .top1-2 .top1-2-l{
		width: 209px;
		height: 224px;
		background-color: #242424;
	}
	.top1-l .ul1 li .top1-2 .top1-2-l a{
		font-size: 14px;
		color: #fff;
		line-height: 56px;
		display: inline-block;
		transition: all 0.5s;
	}
	.top1-l .ul1 li .top1-2 .top1-2-l .top1-2-l-t{
		width: 179px;
		height: 56px;
		margin-left: 15px;
		border-bottom: 1px solid gray;
	}
	.ul1 li .top1-2 .top1-2-l .top1-2-l-t li:first-child{
		float: left;
		color: #ccc;
		height: 56px;
		font-size: 14px;
		line-height: 56px;
	}
	.ul1 li .top1-2 .top1-2-l .top1-2-l-t li a{
		float: right;
		color: #fff;
		height: 56px;
		font-size: 14px;
		display: inline-block;
		line-height: 56px;
	}
	.top1-l .ul1 li .top1-2 .top1-2-l .top1-2-l-b li{
		float: left;
		margin-left: 15px;
	}
	.ul1 li .top1-2 .top1-2-l .top1-2-l-b li:nth-child(2),
	.ul1 li .top1-2 .top1-2-l .top1-2-l-b li:nth-child(4),
	.ul1 li .top1-2 .top1-2-l .top1-2-l-b li:nth-child(6){
		margin-left: 50px;
	}
	.top1-l .ul1 li .top1-2 .top1-2-r{
		position: absolute;
		top: 0px;
		left: 209px;
		background-color: #000;
		height: 224px;
		width: 91px;
	}
	.top1-l .ul1 li .top1-2 .top1-2-r dt{
		color: #ccc;
		width: 91px;
		height: 56px;
		font-size: 14px;
		line-height: 56px;
		text-align: center;
		border-bottom: 1px solid gray;
	}
	.top1-l .ul1 li .top1-2 .top1-2-r dd a{
		color: #fff;
		width: 91px;
		height: 56px;
		font-size: 14px;
		line-height: 56px;
		text-align: center;
		display: inline-block;
		transition: all 0.5s;
	}
	.top1-l .ul1 li .top1-3{
		display: none;
		width: 91px;
		height: 112px;
		position: absolute;
		top: 56px;
		left: 396px;
		z-index: 10;
		background-color: #242424;
	}
	.top1-l .ul1 li .top1-3 ul{
		box-sizing: border-box;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 91px;
		height: 168px;
	}
	.top1-l .ul1 li .top1-3 ul li a{
		display: inline-block;
		height: 56px;
		width: 91px;
		font-size: 14px;
		color: #fff;
		margin-left: 15px;
		line-height: 56px;
	}
	.top1-l .ul1 li .top1-3 ul li a:hover{
		color: #1187ff;
		transition: all 0.5s;
	}
	.top1-r{
		float: right;
	}
	.top1-r .top1-s2{
		width: 95px;
		float: right;
		margin-right: 75px;
		font-size: 14px;
		line-height: 56px;
		color: #fff;
		text-align: center;
	}
	.top1-r .top1-s2:hover{
		color: #1187ff;
		background-color: #000;
	}
	.top1-r .top1-s3{
		float: right;
		width: 79px;
		height: 30px;
		border: 1px solid #fff;
		font-size: 12px;
		text-align: center;
		color: #fff;
		margin-right: 60px;
		margin-top: 13px;
		vertical-align: 13px;
		border-radius: 15px;
		display: inline-block;
	}
	.top1-r .top1-s3:hover{
		color: #fff;
		background-color: #1187ff;
		border-color: #1187ff;
		transition: all 0.3s;
	}

	.top1-r .top1-s3>span{
		line-height: 30px;
		text-align: center;
	}
	.top1-r .top1-7{
		display: none;
		width: 95px;
		height: 112px;
		position: absolute;
		top: 56px;
		left: 1050px;
		z-index: 10;
		background-color: #242424;
	}
	.top1-r .top1-7 ul{
		box-sizing: border-box;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 95px;
		height: 112px;
	}
	.top1-r .top1-7 ul li a{
		display: inline-block;
		height: 56px;
		width: 95px;
		font-size: 14px;
		color: #fff;
		margin-left: 15px;
		line-height: 56px;
	}
	.top1-r .top1-7 ul li a:hover{
		color: #1187ff;
		transition: all 0.5s;
	}
/*top2*/	
	.top2{
		height: 480px;
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	.top2 .top2-d{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 5709px;
		height: 480px;
		transition: all 1s;
	}
	.top2 .top2-d li{
		float: left;
		width: 1903px;
		height: 100%;
	}
	.top2 .top2-d .top2-d01{
		background-image: url(img/top2-1.png);
		background-size: auto 480px;
		background-position: center;
	}
	.top2 .top2-d .top2-d02{
		background-image: url(img/top2-2.jpg);
		background-size: auto 480px;
		background-position: center;
	}
	.top2 .top2-d .top2-d02 p{
		margin-top: 120px;
		z-index: 5;
		color: #fff;
		font-size: 50px;
		text-align: center;
		letter-spacing: 5px;
	}
	.top2 .top2-d .top2-d02 span{
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		z-index: 5;
		color: #fff;
		font-size: 20px;
		text-align: center;
	}
	.top2 .top2-d .top2-d02 .top2-d02-ad{
		height: 56px;
		width: 530px;
		position: absolute;
		top: 300px;
		left: 50%;
		margin-left: -265px;
	}
	.top2-d .top2-d02 .top2-d02-ad .top2-d02-ad1 a{
		display: inline-block;
		height: 56px;
		width: 250px;
		color: #000;
		font-size: 20px;
		text-align: center;
		line-height: 56px;
		background-color: #00eaff;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.top2-d .top2-d02 .top2-d02-ad .top2-d02-ad2 a{
		display: inline-block;
		height: 56px;
		width: 250px;
		color: #000;
		font-size: 20px;
		text-align: center;
		line-height: 56px;
		background-color: #00eaff;
		position: absolute;
		top: 0px;
		right: 0px;
	}
	.top2-d .top2-d02 .top2-d02-ad .top2-d02-ad1 a:hover{
		background-color: #40a9ff;
		color: #fff;
		transition: all 0.3s;		
	}
	.top2-d .top2-d02 .top2-d02-ad .top2-d02-ad2 a:hover{
		background-color: #40a9ff;
		color: #fff;
		transition: all 0.3s;
	}
	.top2 .top2-d .top2-d03{
		position: relative;
		background-image: url(img/top2-3.png);
		background-size: auto 480px;
		background-position: center;
	}
	.top2 .top2-d .top2-d03 span{
		display: inline-block;
		width: 100%;
		margin-top: 120px;
		margin-left: 25px;
		font-size: 20px;
		color: #fff;
		text-align: center;
		font-weight: bold;
		letter-spacing: 55px;
	}
	.top2 .top2-d .top2-d03 p{
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		font-size: 50px;
		color: #fff;
		text-align: center;
		letter-spacing: 10px;
	}
	.top2 .top2-d .top2-d03 div a{
		display: inline-block;
		height: 56px;
		width: 250px;
		color: #fff;
		font-size: 20px;
		text-align: center;
		line-height: 56px;
		background-color: #3638e0;
		border: 1px solid #628dff;
		box-shadow: 0 0 5px 1px #628dff;
		position: absolute;
		top: 300px;
		left: 50%;
		margin-left: -125px;
	}
	.top2 .top2-d .top2-d03 div a:hover{
		background-color: #628dff;
		transition: all 0.3s;
	}
	.top2 .top2-ul{
		width: 90px;
		height: 3px;
		position: absolute;
		left: 50%;
		bottom: 20px;
		margin-left: -40px;
	}
	.top2 .top2-ul li{
		width: 15px;
		height: 3px;
		background-color: rgba(255,255,255,0.2);
		float: left;
		margin-right: 5px;
	}
	.top2 .top2-ul li:hover{
		cursor: pointer;
		background-color: rgba(255,255,255,0.8);
		transition: all 0.3s;
	}
/*top3*/	
	.top3{
		height: 390px;
		/*background-color: blue;*/
	}
	.top3 img{
		float: left;
		margin-top: 80px;
	}
	.top3 span{
		float: right;
		display: inline-block;
		width: 680px;
		height:310px;
		margin-top: 80px;
		/*background-color: red;*/
	}
	.top3 span .top3-s1{
		font-size: 14px;
		margin-bottom: 30px;
	}
	.top3 span .top3-s1>p{
		margin-top: 34px;
	}
	.top3 span .top3-s2>p{
		margin-top: 34px;
	}
	.top3 span .top3-s2{
		font-size: 14px;
		margin-top: 75px;
	}
/*top4*/	
	.top4{
		height: 594px;
		/*background-color: yellow;*/
	}
	.top4-up{
		height: 330px;
		width: 1360px;
		/*background-color: red;*/
		position: relative;
	}

	.top4-do ul{
		height: 264px;
	}
	.top4-do ul li{
		float: left;
		width: 316px;
		height: 264px;
		/*background-color: blue;*/
		margin-right: 32px;
		display: inline-block;
		border: 1px solid #eceef0;
		box-sizing: border-box;
	}
	.top4-do ul li:last-child{
		margin-right: 0px;
	}
	.top4-do ul li>img{
		width: 316px;
		height: 120px;
	}
	.top4-do ul li>.top4-s{
		display: inline-block;
		font-size: 16px;
		/*float: left;*/
		margin-left: 20px;
		margin-top: 20px;
	}
	.top4-do ul li>.top4-p{
		display: inline-block;
		font-size: 14px;
		/*float: left;*/
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 15px;
	}
	.top4-s1{
		width: 200px ;
		height: 50px;
		position: absolute;
		left: 50%;
		top: 160px;
		margin-left: -100px;
		font-size: 34px;
		text-align: center;
		display: inline-block;
	}
	.top4-s2{
		width: 800px ;
		height: 50px;
		position: absolute;
		left: 50%;
		top: 230px;
		margin-left: -400px;
		font-size: 22px;
		text-align: center;
		display: inline-block;
	}
/*top5*/	
	.top5{
		height: 631px;
		/*background-color: green;*/
		position: relative;
	}
	.top5 .top5-up{
		height: 328px;
		/*background-color: red;*/
	}
	.top5 .top5-do{
		height: 305px;
		/*background-color: blue;*/
	}
	.top5-do>ul>.top5-li{
		float: left;
		width: 432px;
		height: 305px;
		background-color: #fff;
		margin-right: 32px;
		position: relative;
	}
	.top5-do>ul>.top5-li:last-child{
		margin-right: 0px;
	}
	.top5-do>ul>.top5-li>span{
		width: 432px;
		display: inline-block;
		font-size: 20px;
		margin-top: 45px;
		margin-bottom: 26px;
		text-align: center;
	}
	.top5-do>ul>.top5-li>p{
		margin-right: 30px;
		margin-left: 30px;
		font-size: 14px;
	}
	.top5-do>ul>.top5-li>ul{
		width: 400px;
		height: 40px;
		margin-left: 30px;
		margin-top: 25px;
	}
	.top5-do>ul>.top5-li>ul>li{
		float: left;
		margin-right: 22px;
	}
	.top5-do>ul>.top5-li>div{
		width: 300px;
		height: 20px;
		position: absolute;
		left: 30px;
		bottom: 35px;
	}
	.top5-do>ul>.top5-li>div>a{
		margin-right: 18px;
		color: #00c1df;
	}
/*top6*/	
	.top6{
		position: relative;
		height: 565px;
		overflow: hidden;
		/*background-color: purple;*/
	}
	.top6 .top6-top{
		position: absolute;
		top:40px;
		left: 50%;
		display: inline-block;
		font-size: 20px;
		color: #ccc;
		margin-left: -127px;
	}
	.top6 .top6-h{
		color: #000;
		margin-top: 230px;
		text-align: center;
	}
	.top6 .top6-down{
		position: absolute;
		top: 310px;
		left: 0px;
		/*margin-top: 310px;*/
		height: 170px;
	} 
	.top6 .top6-down li{
		width: 310px;
		height: 170px;
		float: left;
		margin-right: 40px;
		/*background-color: red;*/
	}
	.top6 .top6-down li:last-child{
		margin-right: 0px;
	}
	.top6 .top6-down li img{
		width: 35px;
		height: 35px;
		margin-bottom: 30px;
	}
	.top6 .top6-down li p{
		margin-bottom: 20px;
		font-size: 16px;
		color: #000;
	}
	.top6 .top6-down li span{
		color: #988ba6;
		font-size: 14px;
	}
/*top7*/	
	.top7{

		height: 480px;
		overflow: hidden;
		background-color: #292f59;
	}
	.top7 .top7-p{
		font-size:20px;
		text-align: center;
		margin-top: 80px;
		margin-bottom: 80px; 
		color: #fff;
	}
	.top7 .top7-ul{
		height: 215px;
	}	
	.top7 .top7-ul li{
		position: relative;
		float: left;
		width: 310px;
		height: 215px;
		margin-right: 40px;
		padding-right: 25px;
		padding-left: 25px;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}
	.top7 .top7-ul li:last-child{
		margin-right: 0px;
	}
	.top7 .top7-ul li img{
		position: absolute;
		top: 20px;
		left: 50%;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		color: #fff;
	}
	.top7 .top7-ul li p{
		color: #fff;
		text-align: center;
		margin-top: 80px;
		font-size: 20px;
		margin-bottom: 25px;
	}
	.top7 .top7-ul li span{
		margin-top: 130px;
		font-size: 16px;
		color: #fff;
	}
/*top8*/	
	.top8{
		height: 620px;
		overflow: hidden;
		/*background-color: pink;*/
	}
	.top8 .top8-top{
		margin-top: 78px;
		font-size: 34px;
		color: #000;
		text-align: center;
	}
	.top8 .top8-ul{
		height: 435px;
	}
	.top8 .top8-ul li{
		width: 432px;
		height: 100%;
		float: left;
		margin-top: 75px;
		margin-right: 32px;
	}
	.top8 .top8-ul li:last-child{
		margin-right: 0px;
	}
	.top8 .top8-ul li p{
		font-size: 16px;
		color: #000;
		margin-left: 10px;
		margin-top: 24px;
		margin-bottom: 24px;
	}
	.top8 .top8-ul li span{
		font-size: 14px;
		color: #8b8b8b;
	}
/*top9*/
	.top9{
		overflow: hidden;
		height: 250px;
		background-color: #fff;
	}
	.top9 .top9-p1{
		margin-top: 80px;
		font-size: 35px;
		text-align: center;
		color: #000;
	}
	.top9 .top9-p2{
		text-align: center;
		margin-top: 35px;
		font-size: 22px;
		color: #000;
	}
/*top10*/
	.top10{
		height: 240px;
		background-color: #333;
	}
	.top10 .top10-dl{
		float: left;
		width: 270px;
		margin-top: 45px;
	}

	.top10 .top10-dl dt a{
		display: inline-block;
		font-size: 14px;
		color: #fff;
		margin-bottom: 20px;
	}
	.top10 .top10-dl dd a{
		display: inline-block;
		font-size: 14px;
		color: #8b8b8b;
		margin-bottom: 5px;
		height: 16px;
	}
	.top10 .top10-dl dd a:hover{
		color: #fff;
	}
	.top10 .top10-dl dd a img{
		width: 20px;
		height: 20px;
		margin-left: 5px;
		vertical-align: middle;
	}