/*公共样式*/
	.widthall{
		width: 100%;
		background-color: #f5f5f5;
	}
	.content{
		width:1226px;
		margin-left: auto;
		margin-right: auto;
	}
	.clearfix:after{
		display: block;
		height: 0px;
		content: "";
		clear: both;
		visibility: hidden;
	}
	.clearfix{
		*zoom:1;
	}
	a{
		text-decoration: none;
		color:#b0b0b0;
	}
	.top1 .content .nav-list a:hover{
		color: #fff;
	}
	.top1 .content .mes a:hover{
		color: #fff;
	}
	.top-middle{
		display: inline-block;
		border: 2px solid #000;
		vertical-align: middle;
	}
/* top1样式开始*/
	.top-width{
		width: 100%;
		background-color: #f5f5f5;
	}
	.ad img{
		width: 100%;
		height: 100%;
	}
	.top1{
		
		height:34px;
		background-color:#333;
	}
	.top1 .top1-nav{
		float: left;
		width: 680px;
		height: 34px;
	}
	.top1 .top1-nav .nav-list li{
		float: left;
		line-height: 34px;
	} 
	.top1 .top1-nav .nav-list .nav-list-item>a{
		font-size: 12px;
	}
	.top1-nav .nav-list li span{
		margin-left: 5px;
		margin-right: 5px;
	}
	.top1-right{
		width: 300px;
		float: right;
	}
	.top1-r-shopping{
		position: relative;
		float: right;
		background-color: #424242;
	}
	.top1 .top1-right .top1-cartbox{
		position: absolute;
		top: 34px;
		right: 0;
		width: 300px;
		height: 0px;
		background-color: #fff;
		text-align: center;
		box-shadow: 0px 0px 5px #ccc;
		overflow: hidden;
		z-index: 99;
		transition: all 0.5s;
	}
	.top1 .top1-right .top1-cartbox span{
		font-size: 12px;
		height: 100px;
		display: inline-block;
		line-height: 100px;
	}
	.top1-r-shopping>a{
		width: 180px;
		height: 34px;
		font-size: 12px;
		line-height: 34px;
		text-align: center;
		vertical-align: -5px;
		display: inline-block;
	}
	.top1-r-shopping>a i{
		font-size: 21px;
	}
	.top1-r-shopping>a span{
		vertical-align: 3px;
	}
	.top1-r-shopping:hover a{
		background-color: #fff;
		color: #ff6700;
	}
	.top1-right .mes .mes-list{
		float: left;
		font-size: 12px;
		line-height: 34px;
	}
/*top2开始*/
	.top2{
		position: relative;
		height: 100px;
	}
	.top2>span{
		display: inline-block;
		font-size: 22px;
		letter-spacing: 3px;
		color: #ff6700;
		font-weight: bold;
		position: absolute;
		top: 40px;
		left: 70px;
	}
	.top2>img{
		position: absolute;
		top: 22px;
		left: 0px;
		cursor: pointer;
	}
	.top2-ul{
		position: absolute;
		top: 35px;
		left: 190px;
		height: 30px;
		width: 800px;
	}
	.top2-ul .top2-li{
		float: left;
		font-size: 16px;
		line-height: 30px;
		margin-right: 18px;
	}
	.top2-ul .top2-li>a{
		color: #333;
	}
	.top2-ul .top2-li>a:hover{
		color: #ff6700;
	}
	.top2 .top2-r{
		float: right;
		width: 295px;
		height: 50px;
		margin-top: 25px;
		position: relative;
	}
	.top2 .top2-r input{
		float: left;
		width: 243px;
		height: 50px;
		outline: none;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-right: none;
		padding-left: 10px;
	}
	.top2 .top2-r input:active{
		border-color: #ff6700;
	}
	.top2 .top2-r input:focus ~ .top2-m-list{
		display: block;
		z-index: 100;
	}
	.top2 .top2-r input:focus,
	.top2 .top2-r input:focus ~ span{
		border-color: #ff6700;
	}
	.top2 .top2-r>span{
		float: left;
		width: 52px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		font-size: 24px;
		color:#616161;
	}
	.top2 .top2-r>span:hover{
		background-color: #ff6700;
		color:#fff;
		border:none;
		cursor: pointer;
	}
/*top2-del*/
	.top-del{
		width: 100%;
		height: 0px;
		background-color: #fff;
		position: fixed;
		top: 0px;
		left: 0px;
		box-shadow: 0px 5px 5px #ccc;
		overflow: hidden;
		z-index: 20;
	}	
	.top-del .top2-del{
		position: absolute;
		top:0px;
		left: 50%;
		margin-left: -613px;
		height: 100%;
	}
	.top-del .top2>span{
		display: inline-block;
		font-size: 22px;
		letter-spacing: 3px;
		color: #ff6700;
		font-weight: bold;
		position: absolute;
		top: 40px;
		left: 70px;
	}
	.top-del .top2>img{
		position: absolute;
		top: 22px;
		left: 0px;
		cursor: pointer;
	}
	.top-del .top2-ul{
		position: absolute;
		top: 35px;
		left: 190px;
		height: 30px;
		width: 800px;
	}
	.top-del .top2-ul .top2-li{
		float: left;
		font-size: 16px;
		line-height: 30px;
		margin-right: 18px;
	}
	.top-del .top2-ul .top2-li>a{
		color: #333;
	}
	.top-del .top2-ul .top2-li>a:hover{
		color: #ff6700;
	}
	.top-del .top2 .top2-r{
		float: right;
		width: 295px;
		height: 50px;
		margin-top: 25px;
		position: relative;
	}
	.top-del .top2 .top2-r input{
		float: left;
		width: 243px;
		height: 50px;
		outline: none;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-right: none;
		padding-left: 10px;
	}
	.top-del .top2 .top2-r input:active{
		border-color: #ff6700;
	}
	.top-del .top2 .top2-r input:focus ~ .top2-m-list{
		display: block;
		z-index: 100;
	}
	.top-del .top2 .top2-r input:focus,
	.top-del .top2 .top2-r input:focus ~ span{
		border-color: #ff6700;
	}
	.top-del .top2 .top2-r>span{
		float: left;
		width: 52px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		font-size: 24px;
		color:#616161;
	}
	.top-del .top2 .top2-r>span:hover{
		background-color: #ff6700;
		color:#fff;
		border:none;
		cursor: pointer;
	}
/*top3*/	
	.top3{
		height: 460px;
		position: relative;
		margin-bottom: 15px;
	}
	.top3>img{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 1226px;
		height: 460px;
	}
	.top3>img:hover{
		cursor: pointer;
	}
	.top3 .top3-r{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 296px;
	}
	.top3 .top3-r .top3-r-t{
		height: 127px;
		background-color: rgba(0,0,0,0.4);
	}
	.top3 .top3-r .top3-r-t i{
		font-size: 80px;
		line-height: 127px;
		margin-left: 30px;
		color: #fff;
	}
	.top3 .top3-r .top3-r-t .top3-name{
		position: absolute;
		top: 45px;
		right: 75px;
		color: #fff;
		font-size: 16px;
	}
	.top3 .top3-r .top3-r-t .top3-des a{
		position: absolute;
		top: 70px;
		right: 55px;
		color: #fff;
		font-size: 12px;
	}
	.top3 .top3-r .top3-r-d{
		height: 333px;
		background-color: rgba(0,0,0,0.7);
	}
	.top3 .top3-r .top3-r-d .top3-d-name{
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		height: 60px;
		line-height: 60px;
	}
	.top3 .top3-r .top3-r-d ul{
		height: 200px;
		margin-left: 50px;
	}
	.top3 .top3-r .top3-r-d ul li{
		height: 50px;
		color: #fff;

		position: relative;
	}
	.top3 .top3-r .top3-r-d ul li i{
		font-size: 30px;
		line-height: 50px;
	}
	.top3 .top3-r .top3-r-d ul li p{
		position: absolute;
		top: 7px;
		right: 140px;
		font-size: 14px;
	}
	.top3 .top3-r .top3-r-d ul li span{
		position: absolute;
		top: 30px;
		right: 87px;
		font-size: 12px;
		color: #ccc;
	}
	.top3 .top3-r .top3-d-des{
		position: absolute;
		bottom: 20px;
		right: 0px;
		width: 296px;
		display: inline-block;
		text-align: center;
	}
	.top3 .top3-r .top3-d-des a{
		font-size: 12px;
		color: #ccc;
	}
/*top4*/
	.top4{
		height: 170px;
		margin-bottom: 50px;
	}	
	.top4 ul{
		height: 170px;
		width: 1226px;
	}
	.top4 ul li{
		height: 170px;
		width: 295px;
		float: left;
		margin-right: 15px;

	}
	.top4 ul li:last-child{
		margin-right: 0px;
		background-color: rgba(0,0,0,0.8);
	}
	.top4 ul li:last-child:hover{
		cursor: pointer;
	}
	.top4 ul li .top4-p1{
		color: #fff;
		font-size: 16px;
		margin-left: 50px;
		margin-top: 35px;
	}
	.top4 ul li .top4-p2{
		color: #ccc;
		font-size: 14px;
		margin-left: 50px;
		margin-top: 5px;
	}
	.top4 ul li .top4-p3{
		color: #ccc;
		font-size: 14px;
		margin-left: 50px;
		margin-top: 15px;
	}
	.top4 ul li .top4-p4{
		color: #ccc;
		font-size: 12px;
		margin-left: 50px;
		margin-top: 3px;
	}
/*top5*/
	.top5{
		height: 460px;
		overflow: hidden;
	}
	.top5 .top5-content .top5-t{
		height: 100px;
		margin-top: 20px;
		position: relative;
	}
	.top5 .top5-content .top5-t .top5-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
	}
	.top5 .top5-content .top5-t .top5-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top5 .top5-content .top5-t .top5-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top5 .top5-content .top5-t .top5-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top5 .top5-content .top5-t .top5-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top5 .top5-content .top5-d{
		height: 340px;
	}
	.top5 .top5-content .top5-d ul{
		height: 340px;
		width: 1226px;
	}
	.top5 .top5-content .top5-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top5 .top5-content .top5-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top5 .top5-content .top5-d ul li:last-child{
		margin-right: 0px;
	}
	.top5-content .top5-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top5-content .top5-d ul li a .top5-name{
		font-size: 14px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top5-content .top5-d ul li a .top5-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top5-content .top5-d ul li a .top5-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}
/*top6*/
	.top6{
		height: 440px;
		overflow: hidden;
	}
	.top6 .top6-content .top6-t{
		height: 100px;
		position: relative;
	}
	.top6 .top6-content .top6-t .top6-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
	}
	.top6 .top6-content .top6-t .top6-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top6 .top6-content .top6-t .top6-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top6 .top6-content .top6-t .top6-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top6 .top6-content .top6-t .top6-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top6 .top6-content .top6-d{
		height: 340px;
	}
	.top6 .top6-content .top6-d ul{
		height: 340px;
		width: 1226px;
	}
	.top6 .top6-content .top6-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top6 .top6-content .top6-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top6 .top6-content .top6-d ul li:last-child{
		margin-right: 0px;
	}
	.top6-content .top6-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top6-content .top6-d ul li a .top6-name{
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top6-content .top6-d ul li a .top6-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top6-content .top6-d ul li a .top6-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}	
/*top7*/
	.top7{
		height: 440px;
		overflow: hidden;
	}
	.top7 .top7-content .top7-t{
		height: 100px;
		position: relative;
		overflow: hidden;
	}
	.top7 .top7-content .top7-t .top7-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
		
	}
	.top7 .top7-content .top7-t .top7-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top7 .top7-content .top7-t .top7-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top7 .top7-content .top7-t .top7-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top7 .top7-content .top7-t .top7-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top7 .top7-content .top7-d{
		height: 340px;
	}
	.top7 .top7-content .top7-d ul{
		height: 340px;
		width: 1226px;
	}
	.top7 .top7-content .top7-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top7 .top7-content .top7-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top7 .top7-content .top7-d ul li:last-child{
		margin-right: 0px;
	}
	.top7-content .top7-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top7-content .top7-d ul li a .top7-name{
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top7-content .top7-d ul li a .top7-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top7-content .top7-d ul li a .top7-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}	
/*top8*/
	.top8{
		height: 440px;
		overflow: hidden;
	}
	.top8 .top8-content .top8-t{
		height: 100px;
		position: relative;
		overflow: hidden;
	}
	.top8 .top8-content .top8-t .top8-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
		
	}
	.top8 .top8-content .top8-t .top8-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top8 .top8-content .top8-t .top8-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top8 .top8-content .top8-t .top8-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top8 .top8-content .top8-t .top8-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top8 .top8-content .top8-d{
		height: 340px;
	}
	.top8 .top8-content .top8-d ul{
		height: 340px;
		width: 1226px;
	}
	.top8 .top8-content .top8-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top8 .top8-content .top8-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top8 .top8-content .top8-d ul li:last-child{
		margin-right: 0px;
	}
	.top8-content .top8-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top8-content .top8-d ul li a .top8-name{
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top8-content .top8-d ul li a .top8-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top8-content .top8-d ul li a .top8-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}		
/*top9*/
	.top9{
		height: 440px;
		overflow: hidden;
	}
	.top9 .top9-content .top9-t{
		height: 100px;
		position: relative;
		overflow: hidden;
	}
	.top9 .top9-content .top9-t .top9-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
		
	}
	.top9 .top9-content .top9-t .top9-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top9 .top9-content .top9-t .top9-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top9 .top9-content .top9-t .top9-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top9 .top9-content .top9-t .top9-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top9 .top9-content .top9-d{
		height: 340px;
	}
	.top9 .top9-content .top9-d ul{
		height: 340px;
		width: 1226px;
	}
	.top9 .top9-content .top9-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top9 .top9-content .top9-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top9 .top9-content .top9-d ul li:last-child{
		margin-right: 0px;
	}
	.top9-content .top9-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top9-content .top9-d ul li a .top9-name{
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top9-content .top9-d ul li a .top9-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top9-content .top9-d ul li a .top9-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}		
/*top10*/
	.top10{
		height: 440px;
		overflow: hidden;
	}
	.top10 .top10-content .top10-t{
		height: 100px;
		position: relative;
		overflow: hidden;
	}
	.top10 .top10-content .top10-t .top10-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
		
	}
	.top10 .top10-content .top10-t .top10-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top10 .top10-content .top10-t .top10-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top10 .top10-content .top10-t .top10-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top10 .top10-content .top10-t .top10-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top10 .top10-content .top10-d{
		height: 340px;
	}
	.top10 .top10-content .top10-d ul{
		height: 340px;
		width: 1226px;
	}
	.top10 .top10-content .top10-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top10 .top10-content .top10-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top10 .top10-content .top10-d ul li:last-child{
		margin-right: 0px;
	}
	.top10-content .top10-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top10-content .top10-d ul li a .top10-name{
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top10-content .top10-d ul li a .top10-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top10-content .top10-d ul li a .top10-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}			
/*top11*/
	.top11{
		height: 440px;
		overflow: hidden;
	}
	.top11 .top11-content .top11-t{
		height: 100px;
		position: relative;
		overflow: hidden;
	}
	.top11 .top11-content .top11-t .top11-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
		
	}
	.top11 .top11-content .top11-t .top11-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top11 .top11-content .top11-t .top11-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top11 .top11-content .top11-t .top11-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top11 .top11-content .top11-t .top11-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top11 .top11-content .top11-d{
		height: 340px;
	}
	.top11 .top11-content .top11-d ul{
		height: 340px;
		width: 1226px;
	}
	.top11 .top11-content .top11-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top11 .top11-content .top11-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top11 .top11-content .top11-d ul li:last-child{
		margin-right: 0px;
	}
	.top11-content .top11-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top11-content .top11-d ul li a .top11-name{
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top11-content .top11-d ul li a .top11-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top11-content .top11-d ul li a .top11-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}				
/*top12*/
	.top12{
		height: 440px;
		overflow: hidden;
	}
	.top12 .top12-content .top12-t{
		height: 100px;
		position: relative;
		overflow: hidden;
	}
	.top12 .top12-content .top12-t .top12-t-l{
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 0px;
		
	}
	.top12 .top12-content .top12-t .top12-t-r{
		font-size: 16px;
		position: absolute;
		top: 50px;
		right: 0px;
	}
	.top12 .top12-content .top12-t .top12-t-r span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		margin-left: 5px;
		line-height: 20px;
		text-align: center;
		background-color: gray;
	}
	.top12 .top12-content .top12-t .top12-t-r:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.top12 .top12-content .top12-t .top12-t-r:hover span{
		color: #fff;
		background-color: #ff6700;
	}
	.top12 .top12-content .top12-d{
		height: 340px;
	}
	.top12 .top12-content .top12-d ul{
		height: 340px;
		width: 1226px;
	}
	.top12 .top12-content .top12-d ul li{
		width: 234px;
		height: 340px;
		float: left;
		background-color: #fff;
		margin-right: 14px;
		position: relative;

	}
	.top12 .top12-content .top12-d ul li:hover{
		box-shadow: 0px 5px 5px #ccc;
		transform: translateY(-3px);
		transition: all 0.3s;
	}
	.top12 .top12-content .top12-d ul li:last-child{
		margin-right: 0px;
	}
	.top12-content .top12-d ul li a img{
		width: 150;
		height: 150px;
		margin-top: 50px;
		margin-left: 42px;
	}
	.top12-content .top12-d ul li a .top12-name{
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		color: #424242;
	}
	.top12-content .top12-d ul li a .top12-des{
		font-size: 12px;
		text-align: center;
		margin-top: 10px;
		color: #ccc;
	}
	.top12-content .top12-d ul li a .top12-pl{
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 0px;
		width: 234px;
		background-color: #ff6700;
		color: #fff;
		text-align: center;
		line-height: 50px;
		transition: all 0.5s;
	}					
/*top13*/
	.top13{
		height: 495px;
		overflow: hidden;
		position: relative;
	}	
	.top13 .top13-content{
		position: absolute;
		top: 30px;
		left: 50%;
		margin-left: -613px;
		height: 360px;
		width: 1226px;
		background-color: #fff;
	}
	.top13 .top13-content .top13-name{
		text-align: center;
		font-size: 38px;
		font-weight: bold;
		color: #424242;
		margin-top: 45px;
	}
	.top13 .top13-content .top13-des{
		text-align: center;
		font-size: 16px;
		color: #424242;
		margin-top: 20px;
	}
	.top13 .top13-content ul{
		width: 758px;
		height: 100px;
		margin-top: 50px;
		margin-left: 234px;
	}
	.top13 .top13-content ul li{
		margin-right: 160px;
		float: left;
		width: 69px;
		height: 100%;
	}
	.top13 .top13-content ul li:last-child{
		margin-right: 0px;
	}
	.top13 .top13-content ul li .top13-num{
		display: inline-block;
		width: 69px;
		height: 69px;
		font-size: 30px;
		text-align: center;
		line-height: 69px;
		color: #fff;
		background-color: #ff6700;
		border-radius: 50%;
	}
	.top13 .top13-content ul li .num-con{
		display: inline-block;
		width: 69px;
		font-size: 14px;
		text-align: center;
		color: #595959;
		margin-top: 20px;
	}
/*top14*/
	.top14{
		background-color: #fff;
		height: 150px;
	}
	.top14 .top14-content ul{
		width: 1226px;
		height: 150px;
	}
	.top14 .top14-content ul li{
		float: left;
		width: 25%;
		text-align: center;
	}
	.top14 .top14-content ul li a i{
		font-size: 22px;
		vertical-align: middle;
	}
	.top14 .top14-content ul li a span{
		display: inline-block;
		font-size: 16px;
		line-height: 150px;
		color: #424242;
	}
/*top15*/
	.top15{
		background-color: #fff;
		height: 230px;
		position: relative;
	}	
	.top15 .top15-content{
		width: 1226px;
		height: 230px;
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -613px;
	}
	.top15 .top15-content ul li a:hover{
		color: #ff6700;
	}
	.top15 .top15-content>img{
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.top15 .top15-content .ul1{
		margin-left: 60px;

	}
	.top15 .top15-content .ul1 li{
		float: left;
	}	
	.top15 .top15-content .ul1 li a{
		font-size: 12px;
		color: #424242;
	}
	.top15 .top15-content .ul2{
		margin-left: 60px;
	}
	.top15 .top15-content .ul2 li{
		float: left;
		font-size: 14px;
		color: #ccc;
	}	
	.top15 .top15-content .ul2 li a{
		font-size: 14px;
		color: #ccc;
	}
	.top15 .top15-content .foot-img img{
		width: 85px;
		height: 28px;
	}
	.top15 .top15-content .last{
		font-size: 22px;
		color: #ccc;
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -140px;
	}
